main {
  width: 400px;
  border: 1px solid #999;
  margin: 1em auto;
  padding: 1em;
}
.QuizQuestion {
  display: flex;
  font-size: 5em;
}
.QuizEnd {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}
.QuizEnd a {
  display: block;
  padding-top: 20px;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.buttons {
  display: flex;
}
button {
  margin: 1em auto;
  font-size: 1.5em;
  display: block;
  width: 100%;
  border: 2px solid #000;
  color: #000;
  background: #ccc;
}
button.clicked {
  border-color: #ccc;
  background: #eee;
  color: #ccc;
}
.error {
  color: red;
}